.root {
    display: flex;
}

.sidebar {
    width: 350px;
    padding: 24px;
    flex-shrink: 0;
    border-right: 1px solid #98cf25;
}

.content {
    padding: 24px;
    width: 100%;
}

.card_full {
    width: 100%;
}

.card + .card {
    margin-top: 20px;
}
