.sidebar {
    position: sticky;
    top: 0;
    background: #fff;
}

.menu {
    height: 100%;
    border-radius: 0;
}

.submenu {
    position: relative;
}

.submenu.checked:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -4px;
    height: 52px;
    width: 6px;
    background: #98cf25;
}

.icon {
    position: absolute;
    left: 25px;
    top: 13px;
}
